DATABASE_URL=""

DISABLE_ADMIN_LOGIN="true"

ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_PASSWORD_HASH=""
ADMIN_SESSION_SECRET="qualquer-chave-grande"

SECRET_KEY="uma-chave-grande"
DEVICE_TOKEN_SECRET="outra-chave-grande"

NEXT_PUBLIC_APP_PANEL_URL="https://SEU-PROJETO.vercel.app"
APP_VERSION="0.1.0"