DATABASE_URL="postgresql://USUARIO:SENHA@HOST:5432/NOME_DO_BANCO?sslmode=require&schema=public"

DISABLE_ADMIN_LOGIN="true"

ADMIN_EMAIL=""
ADMIN_PASSWORD=""
ADMIN_PASSWORD_HASH=""
ADMIN_SESSION_SECRET="qualquer-chave-grande-aqui"

SECRET_KEY="gere-uma-chave-grande-aqui"
DEVICE_TOKEN_SECRET="gere-outra-chave-grande-aqui"

NEXT_PUBLIC_APP_PANEL_URL="http://10.0.2.2:3000"
APP_VERSION="0.1.0"